@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:username=${NPM_FA_USERNAME}
//npm.fontawesome.com/:_password=${NPM_FA_PASSWORD}
//npm.fontawesome.com/:email=${NPM_FA_EMAIL}




